In [1]:
import pandas as pd

In [3]:
k2_data = pd.read_pickle('data/k2_data_treated.pkl')
kepler_data = pd.read_pickle('data/kepler_data_treated.pkl')
tess_data = pd.read_pickle('data/tess_data_treated.pkl')

In [7]:
k2_columns = k2_data.columns.tolist()
kepler_columns = kepler_data.columns.tolist()
tess_columns = tess_data.columns.tolist()

O código abaixo apresenta as colunas que são comuns ao 3 dataframes

In [10]:
k2_columns = set(k2_columns)
kepler_columns = set(kepler_columns)
tess_columns = set(tess_columns)

column_intersection = k2_columns.intersection(kepler_columns,tess_columns)
column_intersection = list(column_intersection)
column_intersection

['classification',
 'orbital_period',
 'longitude',
 'stellar_radius',
 'stellar_sur_gravity',
 'planet_radius',
 'latitude',
 'insol_flux',
 'stellar_temperature',
 'eq_temperature']

Filtrando os dataframes

In [11]:
k2_data = k2_data[column_intersection]
kepler_data = kepler_data[column_intersection]
tess_data = tess_data[column_intersection]

Concatenando os dataframes

In [33]:
general_data = pd.concat([k2_data,kepler_data,tess_data],axis=0)
general_data = general_data.reset_index(drop=True)

In [34]:
general_data

,classification,orbital_period,longitude,stellar_radius,stellar_sur_gravity,planet_radius,latitude,insol_flux,stellar_temperature,eq_temperature
0,CONFIRMED,41.685500,53.651123,1.080000,4.50,2.578000,20.599021,NaN,5766.00,NaN
1,CONFIRMED,41.685500,53.651123,0.930000,4.50,2.230000,20.599021,NaN,5766.00,546.000000
2,CONFIRMED,41.688644,53.651123,0.960000,4.38,2.355000,20.599021,NaN,5703.00,NaN
3,CANDIDATE,2.301830,183.846245,0.760000,4.54,1.120000,-6.268329,NaN,4616.52,1054.000000
4,CANDIDATE,2.302368,183.846245,0.710000,4.50,1.313000,-6.268329,NaN,4720.00,NaN
...,...,...,...,...,...,...,...,...,...,...
20359,FP,3.443800,110.811443,NaN,NaN,NaN,5.562850,1413.670000,4805.20,1708.000000
20360,FP,14.537800,119.349948,2.050000,NaN,16.052300,-19.516015,NaN,8007.00,NaN
20361,FP,8.413486,121.319521,0.926261,4.52,20.510696,-59.579798,127.916421,5786.00,857.731431
20362,FP,0.941436,118.319555,2.349860,4.01,4.529209,-14.218823,41562.587811,8322.00,3641.626449
20363,FP,1.507896,118.864086,1.300000,4.35,5.530910,-58.222060,9662.800000,6635.00,2762.000000

In [35]:
general_data.classification.value_counts()

classification
FALSE POSITIVE    5150
CONFIRMED         4833
PC                4578
CANDIDATE         3354
FP                 998
KP                 528
CP                 426
APC                404
FA                  91
Name: count, dtype: int64

No DF concatenado acima, bem como para qualquer um deles, precisamos normalizar essas classificações. Ler o .md para mais detalhes