In [1]:
import pandas as pd

Tratando colunas da Missão KEPLER

In [2]:
kepler = pd.read_csv('./data/kepler/kepler.csv')

kepler_columns = [
    'koi_disposition',
    'ra',
    'dec',
    'koi_steff',
    'koi_srad',
    'koi_prad',
    'koi_teq',
    'koi_slogg',
    'koi_period',
   # 'koi_duration',
    'koi_depth',
    'koi_insol'
]

kepler_data = kepler[kepler_columns].copy()

kepler_columns_name = {
    'koi_disposition': 'classification',
    'ra' : 'longitude',
    'dec' : 'latitude',
    'koi_steff' : 'stellar_temperature',
    'koi_srad' : 'stellar_radius',
    'koi_prad' : 'planet_radius',
    'koi_teq' : 'eq_temperature',
    'koi_slogg' : 'stellar_sur_gravity',
    'koi_period' : 'orbital_period',
   # 'koi_duration' : 'duration',
    'koi_depth' : 'depth',
    'koi_insol' : 'insol_flux'
}

kepler_data.rename(columns=kepler_columns_name, inplace=True)

kepler_data.head(5)

,classification,longitude,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,stellar_sur_gravity,orbital_period,depth,insol_flux
0,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.26,793.0,4.467,9.488036,615.8,93.59
1,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.83,443.0,4.467,54.418383,874.8,9.11
2,CANDIDATE,297.00482,48.134129,5853.0,0.868,14.60,638.0,4.544,19.899140,10829.0,39.30
3,FALSE POSITIVE,285.53461,48.285210,5805.0,0.791,33.46,1395.0,4.564,1.736952,8079.2,891.96
4,CONFIRMED,288.75488,48.226200,6031.0,1.046,2.75,1406.0,4.438,2.525592,603.3,926.16

Tratando colunas da Missão K2

In [3]:
k2 = pd.read_csv('./data/k2/k2.csv')

k2_columns = [
    'disposition',
    'rastr',
    'ra',
    'decstr',
    'dec',
    'st_teff',
    'st_rad',
    'pl_rade',
    'pl_eqt',
    'sy_dist',
    'st_logg',
    'pl_orbper',
    'pl_insol'
]

k2_data = k2[k2_columns].copy()

k2_columns_name = {
    'disposition': 'classification',
    'rastr' : 'longitude_s',
    'ra' : 'longitude',
    'decstr' : 'latitude_s',
    'dec' : 'latitude',
    'st_teff' : 'stellar_temperature',
    'st_rad' : 'stellar_radius',
    'pl_rade' : 'planet_radius',
    'pl_eqt' : 'eq_temperature',
    'sy_dist' : 'distance',
    'st_logg' : 'stellar_sur_gravity',
    'pl_orbper' : 'orbital_period',
    'pl_insol' : 'insol_flux'
}

k2_data.rename(columns=k2_columns_name, inplace=True)

k2_data.head(5)

,classification,longitude_s,longitude,latitude_s,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,distance,stellar_sur_gravity,orbital_period,insol_flux
0,CONFIRMED,03h34m36.27s,53.651123,+20d35m56.47s,20.599021,5766.00,1.08,2.578,NaN,179.4610,4.50,41.685500,NaN
1,CONFIRMED,03h34m36.27s,53.651123,+20d35m56.47s,20.599021,5766.00,0.93,2.230,546.0,179.4610,4.50,41.685500,NaN
2,CONFIRMED,03h34m36.27s,53.651123,+20d35m56.47s,20.599021,5703.00,0.96,2.355,NaN,179.4610,4.38,41.688644,NaN
3,CANDIDATE,12h15m23.10s,183.846245,-06d16m05.98s,-6.268329,4616.52,0.76,1.120,1054.0,97.1795,4.54,2.301830,NaN
4,CANDIDATE,12h15m23.10s,183.846245,-06d16m05.98s,-6.268329,4720.00,0.71,1.313,NaN,97.1795,4.50,2.302368,NaN

Tratando colunas da Missão TESS

In [4]:
tess = pd.read_csv('./data/tess/tess.csv')

tess_columns = [
    'tfopwg_disp',
    'rastr',
    'ra',
    'decstr',
    'dec',
    'st_teff',
    'st_rad',
    'pl_rade',
    'pl_eqt',
    'st_dist',
    'st_logg',
    'pl_orbper',
   # 'pl_trandurh',
    'pl_trandep',
    'pl_insol'
]

tess_data = tess[tess_columns].copy()

tess_columns_name = {
    'tfopwg_disp': 'classification',
    'rastr' : 'longitude_s',
    'ra' : 'longitude',
    'decstr' : 'latitude_s',
    'dec' : 'latitude',
    'st_teff' : 'stellar_temperature',
    'st_rad' : 'stellar_radius',
    'pl_rade' : 'planet_radius',
    'pl_eqt' : 'eq_temperature',
    'st_dist' : 'distance',
    'st_logg' : 'stellar_sur_gravity',
    'pl_orbper' : 'orbital_period',
   # 'pl_trandurh' : 'duration',
    'pl_trandep' : 'depth',
    'pl_insol' : 'insol_flux'
}

tess_data.rename(columns=tess_columns_name, inplace=True)


tess_data.head(5)

,classification,longitude_s,longitude,latitude_s,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,distance,stellar_sur_gravity,orbital_period,depth,insol_flux
0,FP,07h29m25.85s,112.357708,-12d41m45.46s,-12.695960,10249.0,2.16986,5.818163,3127.204052,485.735,4.19,2.171348,656.886099,22601.948581
1,PC,08h10m19.31s,122.580465,-05d30m49.87s,-5.513852,7070.0,2.01000,11.215400,4045.000000,295.862,4.03,1.931646,1286.000000,44464.500000
2,FP,06h58m54.47s,104.726966,-10d34m49.64s,-10.580455,8924.0,5.73000,23.752900,2037.000000,943.109,NaN,1.867557,1500.000000,2860.610000
3,FP,07h22m14.39s,110.559945,-25d12m25.26s,-25.207017,5388.5,NaN,NaN,1631.000000,7728.170,4.15,2.743230,383.410000,1177.360000
4,FP,08h08m42.77s,122.178195,-48d48m10.12s,-48.802811,9219.0,2.15000,11.311300,4260.000000,356.437,4.14,3.573014,755.000000,54679.300000

1 - Converter as coordenadas de Kepler (Retângulares Ascensão Retilínea - RA e Declinação - Dec (latitude e longitude)) de graus para unidades sexagesimais

In [5]:
def decimal_to_sexagesimal(decimal_degrees):
    degrees = int(decimal_degrees)
    minutes = int((decimal_degrees - degrees) * 60)
    seconds = (decimal_degrees - degrees - minutes / 60) * 3600
    return f"{degrees}h{minutes}m{seconds:.2f}s"

kepler_data['longitude_s'] = kepler_data['longitude'].apply(decimal_to_sexagesimal)
kepler_data['latitude_s'] = kepler_data['latitude'].apply(decimal_to_sexagesimal)

kepler_data.head(5)

,classification,longitude,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,stellar_sur_gravity,orbital_period,depth,insol_flux,longitude_s,latitude_s
0,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.26,793.0,4.467,9.488036,615.8,93.59,291h56m3.23s,48h8m29.94s
1,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.83,443.0,4.467,54.418383,874.8,9.11,291h56m3.23s,48h8m29.94s
2,CANDIDATE,297.00482,48.134129,5853.0,0.868,14.60,638.0,4.544,19.899140,10829.0,39.30,297h0m17.35s,48h8m2.86s
3,FALSE POSITIVE,285.53461,48.285210,5805.0,0.791,33.46,1395.0,4.564,1.736952,8079.2,891.96,285h32m4.60s,48h17m6.76s
4,CONFIRMED,288.75488,48.226200,6031.0,1.046,2.75,1406.0,4.438,2.525592,603.3,926.16,288h45m17.57s,48h13m34.32s

2 - Definindo a distance da missão Kepler em pc

In [6]:
import numpy as np

# Constante de Stefan-Boltzmann (W/m^2K^4)
sigma = 5.67e-8  

# Função para calcular a luminosidade da estrela em termos de luminosidade solar
def calculate_luminosity(stellar_radius, stellar_temperature):
    return 4 * np.pi * (stellar_radius ** 2) * sigma * (stellar_temperature ** 4)

# Function to calculate stellar distance in parsecs
def calculate_stellar_distance(luminosity, insolation_flux):
    return np.sqrt(luminosity / (4 * np.pi * insolation_flux))

# Calcular a luminosidade da estrela
luminosidade = calculate_luminosity(kepler_data['stellar_radius'], kepler_data['stellar_temperature'])

# Calcular a distância estelar em parsecs
kepler_data['distance'] = calculate_stellar_distance(luminosidade, kepler_data['insol_flux'])

kepler_data.head(5)

,classification,longitude,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,stellar_sur_gravity,orbital_period,depth,insol_flux,longitude_s,latitude_s,distance
0,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.26,793.0,4.467,9.488036,615.8,93.59,291h56m3.23s,48h8m29.94s,678.962909
1,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.83,443.0,4.467,54.418383,874.8,9.11,291h56m3.23s,48h8m29.94s,2176.213925
2,CANDIDATE,297.00482,48.134129,5853.0,0.868,14.60,638.0,4.544,19.899140,10829.0,39.30,297h0m17.35s,48h8m2.86s,1129.463050
3,FALSE POSITIVE,285.53461,48.285210,5805.0,0.791,33.46,1395.0,4.564,1.736952,8079.2,891.96,285h32m4.60s,48h17m6.76s,212.519983
4,CONFIRMED,288.75488,48.226200,6031.0,1.046,2.75,1406.0,4.438,2.525592,603.3,926.16,288h45m17.57s,48h13m34.32s,297.686309

3 - Definindo Depth da missão K2

In [7]:

import numpy as np

def transit_depth(planet_radius, star_radius):
    """
    Calculates the transit depth of an exoplanet.

    Args:
    planet_radius (float): Radius of the planet in Earth radii.
    star_radius (float): Radius of the star in Solar radii.

    Returns:
    float: Transit depth.
    """
    depth = (planet_radius / star_radius) ** 2 * 1e6
    return depth

# Exemplo de uso:
#resultado = transit_depth(14.60, 0.868)
k2_data['depth'] = transit_depth(k2_data['planet_radius'], k2_data['stellar_radius'])

Tratando dados nulos

In [14]:
k2_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3773 entries, 0 to 3772
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   classification       3773 non-null   object
 1   longitude_s          3773 non-null   object
 2   longitude            3773 non-null   float64
 3   latitude_s           3773 non-null   object
 4   latitude             3773 non-null   float64
 5   stellar_temperature  3773 non-null   float64
 6   stellar_radius       3773 non-null   float64
 7   planet_radius        3773 non-null   float64
 8   eq_temperature       3773 non-null   float64
 9   distance             3773 non-null   float64
 10  stellar_sur_gravity  3773 non-null   float64
 11  orbital_period       3773 non-null   float64
 12  insol_flux           3773 non-null   float64
 13  depth                3773 non-null   float64
dtypes: float64(11), object(3)
memory usage: 412.8+ KB

In [15]:

kepler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   classification       9564 non-null   object
 1   longitude            9564 non-null   float64
 2   latitude             9564 non-null   float64
 3   stellar_temperature  9564 non-null   float64
 4   stellar_radius       9564 non-null   float64
 5   planet_radius        9564 non-null   float64
 6   eq_temperature       9564 non-null   float64
 7   stellar_sur_gravity  9564 non-null   float64
 8   orbital_period       9564 non-null   float64
 9   depth                9564 non-null   float64
 10  insol_flux           9564 non-null   float64
 11  longitude_s          9564 non-null   object
 12  latitude_s           9564 non-null   object
 13  distance             9564 non-null   float64
dtypes: float64(11), object(3)
memory usage: 1.0+ MB

In [16]:
tess_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7027 entries, 0 to 7026
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   classification       7027 non-null   object
 1   longitude_s          7027 non-null   object
 2   longitude            7027 non-null   float64
 3   latitude_s           7027 non-null   object
 4   latitude             7027 non-null   float64
 5   stellar_temperature  7027 non-null   float64
 6   stellar_radius       7027 non-null   float64
 7   planet_radius        7027 non-null   float64
 8   eq_temperature       7027 non-null   float64
 9   distance             7027 non-null   float64
 10  stellar_sur_gravity  7027 non-null   float64
 11  orbital_period       7027 non-null   float64
 12  depth                7027 non-null   float64
 13  insol_flux           7027 non-null   float64
dtypes: float64(11), object(3)
memory usage: 768.7+ KB

In [12]:
# Função para tratar dados nulos imputando valores aleatórios dentro do intervalo [min, max]
def tratar_nulos_imputar_aleatorio(df, min_val, max_val):
    # Encontrar os índices dos valores nulos
    nulos_idx = df[df.isnull().any(axis=1)].index
    for col in df.columns:
        # Gerar valores aleatórios dentro do intervalo [min_val, max_val]
        aleatorios = np.random.uniform(min_val, max_val, size=len(nulos_idx))
        # Substituir os valores nulos pelos valores aleatórios gerados
        df.loc[nulos_idx, col] = aleatorios
    return df

# Tratando os dados nulos
k2_data = tratar_nulos_imputar_aleatorio(k2_data, 0, 100)
kepler_data = tratar_nulos_imputar_aleatorio(kepler_data, 0, 100)
tess_data = tratar_nulos_imputar_aleatorio(tess_data, 0, 100)

In [ ]:
# Função para tratar dados nulos imputando a média dos valores da coluna
def tratar_nulos_imputar_media(df):
    for col in df.columns:
        # Calcular a média dos valores não nulos da coluna
        media = df[col].mean()
        # Substituir os valores nulos pela média da coluna
        df[col].fillna(media, inplace=True)
    return df

# Tratando os dados nulos
k2_data = tratar_nulos_imputar_media(k2_data)
kepler_data = tratar_nulos_imputar_media(kepler_data)
tess_data = tratar_nulos_imputar_media(tess_data)

In [ ]:
# Função para tratar dados nulos imputando a mediana dos valores da coluna
def tratar_nulos_imputar_mediana(df):
    for col in df.columns:
        # Calcular a mediana dos valores não nulos da coluna
        mediana = df[col].median()
        # Substituir os valores nulos pela mediana da coluna
        df[col].fillna(mediana, inplace=True)
    return df

# Tratando os dados nulos
k2_data = tratar_nulos_imputar_mediana(k2_data)
kepler_data = tratar_nulos_imputar_mediana(kepler_data)
tess_data = tratar_nulos_imputar_mediana(tess_data)

In [18]:
k2_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3773 entries, 0 to 3772
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   classification       3773 non-null   object
 1   longitude_s          3773 non-null   object
 2   longitude            3773 non-null   float64
 3   latitude_s           3773 non-null   object
 4   latitude             3773 non-null   float64
 5   stellar_temperature  3773 non-null   float64
 6   stellar_radius       3773 non-null   float64
 7   planet_radius        3773 non-null   float64
 8   eq_temperature       3773 non-null   float64
 9   distance             3773 non-null   float64
 10  stellar_sur_gravity  3773 non-null   float64
 11  orbital_period       3773 non-null   float64
 12  insol_flux           3773 non-null   float64
 13  depth                3773 non-null   float64
dtypes: float64(11), object(3)
memory usage: 412.8+ KB

In [17]:
k2_data.head(5)

,classification,longitude_s,longitude,latitude_s,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,distance,stellar_sur_gravity,orbital_period,insol_flux,depth
0,54.314539,59.648125,79.596700,0.403058,72.721059,71.400553,1.688767,69.712691,92.676097,55.206045,29.772792,93.572091,81.562592,75.398854
1,81.214301,41.941592,9.754487,99.076813,48.245632,9.360832,62.257200,16.907695,21.853622,38.696041,24.676746,76.146178,94.280568,76.981490
2,6.764939,11.096328,35.242477,96.50132,7.852349,55.826043,16.873076,17.060475,90.317717,18.382319,84.586588,93.111609,24.556473,83.173205
3,85.049751,69.172664,91.324152,87.858239,10.294989,93.735219,91.531937,8.335218,17.755947,59.860317,89.366068,41.411506,75.528795,38.342138
4,51.060768,23.662844,39.554351,8.214394,53.754404,12.854624,25.120236,6.906953,34.444053,38.853658,85.536337,45.001919,34.164161,94.394415

In [19]:
kepler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   classification       9564 non-null   object
 1   longitude            9564 non-null   float64
 2   latitude             9564 non-null   float64
 3   stellar_temperature  9564 non-null   float64
 4   stellar_radius       9564 non-null   float64
 5   planet_radius        9564 non-null   float64
 6   eq_temperature       9564 non-null   float64
 7   stellar_sur_gravity  9564 non-null   float64
 8   orbital_period       9564 non-null   float64
 9   depth                9564 non-null   float64
 10  insol_flux           9564 non-null   float64
 11  longitude_s          9564 non-null   object
 12  latitude_s           9564 non-null   object
 13  distance             9564 non-null   float64
dtypes: float64(11), object(3)
memory usage: 1.0+ MB

In [20]:
kepler_data.head(5)

,classification,longitude,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,stellar_sur_gravity,orbital_period,depth,insol_flux,longitude_s,latitude_s,distance
0,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.26,793.0,4.467,9.488036,615.8,93.59,291h56m3.23s,48h8m29.94s,678.962909
1,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.83,443.0,4.467,54.418383,874.8,9.11,291h56m3.23s,48h8m29.94s,2176.213925
2,CANDIDATE,297.00482,48.134129,5853.0,0.868,14.60,638.0,4.544,19.899140,10829.0,39.30,297h0m17.35s,48h8m2.86s,1129.463050
3,FALSE POSITIVE,285.53461,48.285210,5805.0,0.791,33.46,1395.0,4.564,1.736952,8079.2,891.96,285h32m4.60s,48h17m6.76s,212.519983
4,CONFIRMED,288.75488,48.226200,6031.0,1.046,2.75,1406.0,4.438,2.525592,603.3,926.16,288h45m17.57s,48h13m34.32s,297.686309

In [21]:
tess_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7027 entries, 0 to 7026
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   classification       7027 non-null   object
 1   longitude_s          7027 non-null   object
 2   longitude            7027 non-null   float64
 3   latitude_s           7027 non-null   object
 4   latitude             7027 non-null   float64
 5   stellar_temperature  7027 non-null   float64
 6   stellar_radius       7027 non-null   float64
 7   planet_radius        7027 non-null   float64
 8   eq_temperature       7027 non-null   float64
 9   distance             7027 non-null   float64
 10  stellar_sur_gravity  7027 non-null   float64
 11  orbital_period       7027 non-null   float64
 12  depth                7027 non-null   float64
 13  insol_flux           7027 non-null   float64
dtypes: float64(11), object(3)
memory usage: 768.7+ KB

In [22]:
tess_data.head(5)

,classification,longitude_s,longitude,latitude_s,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,distance,stellar_sur_gravity,orbital_period,depth,insol_flux
0,FP,07h29m25.85s,112.357708,-12d41m45.46s,-12.695960,10249.000000,2.169860,5.818163,3127.204052,485.735000,4.190000,2.171348,656.886099,22601.948581
1,PC,08h10m19.31s,122.580465,-05d30m49.87s,-5.513852,7070.000000,2.010000,11.215400,4045.000000,295.862000,4.030000,1.931646,1286.000000,44464.500000
2,10.769571,57.759931,15.655063,36.588942,41.806809,87.143323,68.083365,38.325417,25.430143,72.525570,88.117958,89.527434,66.027129,32.765364
3,51.512472,67.478242,85.245781,25.259908,11.617193,32.868076,34.620533,19.863091,63.706536,0.733585,21.551419,99.283169,64.696828,11.794484
4,FP,08h08m42.77s,122.178195,-48d48m10.12s,-48.802811,9219.000000,2.150000,11.311300,4260.000000,356.437000,4.140000,3.573014,755.000000,54679.300000

In [8]:
# kepler_data.to_pickle('data\\kepler_data_treated.pkl')
# k2_data.to_pickle('data\\k2_data_treated.pkl')
# tess_data.to_pickle('data\\tess_data_treated.pkl')