Carregar dados

In [19]:
import pandas as pd

In [20]:
k2 = pd.read_pickle('data\\k2\\k2_data_treated.pkl')

kepler = pd.read_pickle('data\\kepler\\kepler_data_treated.pkl')

tess = pd.read_pickle('data\\tess\\tess_data_treated.pkl')

In [21]:
k2

,classification,mission,longitude,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,distance,stellar_sur_gravity,orbital_period,insol_flux,depth
0,planet,k2,0.129039,0.872136,0.073479,0.011427,0.002012,0.223301,0.018901,0.777778,0.000495,0.004992,0.000822
1,planet,k2,0.129039,0.872136,0.073479,0.009660,0.001690,0.189620,0.018901,0.777778,0.000495,0.007590,0.000830
2,planet,k2,0.129039,0.872136,0.072053,0.010013,0.001805,0.402781,0.018901,0.743590,0.000495,0.010895,0.000872
3,candidate,k2,0.502759,0.414973,0.047458,0.007657,0.000661,0.397221,0.010069,0.789174,0.000025,0.009462,0.000276
4,candidate,k2,0.502759,0.414973,0.049801,0.007068,0.000840,0.280005,0.010069,0.777778,0.000025,0.017895,0.000469
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768,planet,k2,0.479973,0.633318,0.081311,0.009777,0.012498,0.559869,0.014868,0.776741,0.000030,0.018074,0.033800
3769,planet,k2,0.479973,0.633318,0.065782,0.009071,0.009906,0.205046,0.014868,0.777778,0.000030,0.017336,0.024581
3770,planet,k2,0.568780,0.417168,0.049710,0.006832,0.001504,0.295464,0.004417,0.811966,0.000069,0.007185,0.001280
3771,planet,k2,0.568780,0.417168,0.049710,0.006832,0.001516,0.289334,0.004417,0.811966,0.000069,0.006964,0.001297
3772,planet,k2,0.568780,0.417168,0.049710,0.006832,0.001516,0.288925,0.004417,0.777304,0.000069,0.006678,0.001297

Separar dados em treinamento e teste

In [22]:
# dados de treinamento (classificados como PLANETAS e NÃO PLANETAS)

k2_classification = k2[k2['classification'].isin(['planet', 'not planet'])]

kepler_classification = kepler[kepler['classification'].isin(['planet', 'not planet'])]

tess_classification = tess[tess['classification'].isin(['planet', 'not planet'])]

Separar os dados em features e rótulos

In [23]:
x_k2 = k2_classification.drop(['classification', 'mission'], axis=1)  # Features
y_k2 = k2_classification['classification']  # Rótulos

x_kepler = kepler_classification.drop(['classification', 'mission'], axis=1)  # Features
y_kepler = kepler_classification['classification']  # Rótulos

x_tess = tess_classification.drop(['classification', 'mission'], axis=1)  # Features
y_tess = tess_classification['classification']  # Rótulos

In [24]:
from sklearn.model_selection import train_test_split

x_k2_treino, x_k2_teste, y_k2_treino, y_k2_teste = train_test_split(x_k2, y_k2, test_size=0.2, random_state=42)

x_kepler_treino, x_kepler_teste, y_kepler_treino, y_kepler_teste = train_test_split(x_kepler, y_kepler, test_size=0.2, random_state=42)

x_tess_treino, x_tess_teste, y_tess_treino, y_tess_teste = train_test_split(x_tess, y_tess, test_size=0.2, random_state=42)

Averiguando a distribuição de classes antes e depois da separação

In [25]:
import numpy as np

# Base original
unique_values, counts = np.unique(y_k2, return_counts=True)
prop = counts/y_k2.size
print(unique_values,counts,prop)

['not planet' 'planet'] [ 311 2092] [0.12942156 0.87057844]

In [26]:
# Base de treino
unique_values, counts = np.unique(y_k2_treino, return_counts=True)
prop = counts/y_k2_treino.size
print(unique_values,counts,prop)

['not planet' 'planet'] [ 245 1677] [0.12747138 0.87252862]

In [27]:
# Base de teste
unique_values, counts = np.unique(y_k2_teste, return_counts=True)
prop = counts/y_k2_teste.size
print(unique_values,counts,prop)

['not planet' 'planet'] [ 66 415] [0.13721414 0.86278586]

In [28]:
# Base original
unique_values, counts = np.unique(y_kepler, return_counts=True)
prop = counts/y_kepler.size
print(unique_values,counts,prop)

['not planet' 'planet'] [4839 2741] [0.6383905 0.3616095]

In [29]:
# Base de treino
unique_values, counts = np.unique(y_kepler_treino, return_counts=True)
prop = counts/y_kepler_treino.size
print(unique_values,counts,prop)

['not planet' 'planet'] [3890 2174] [0.64149077 0.35850923]

In [30]:
# Base de teste
unique_values, counts = np.unique(y_kepler_teste, return_counts=True)
prop = counts/y_kepler_teste.size
print(unique_values,counts,prop)

['not planet' 'planet'] [949 567] [0.62598945 0.37401055]

In [31]:
# Base original
unique_values, counts = np.unique(y_tess, return_counts=True)
prop = counts/y_tess.size
print(unique_values,counts,prop)

['not planet' 'planet'] [1089 5106] [0.17578692 0.82421308]

In [32]:
# Base de treino
unique_values, counts = np.unique(y_tess_treino, return_counts=True)
prop = counts/y_tess_treino.size
print(unique_values,counts,prop)

['not planet' 'planet'] [ 864 4092] [0.17433414 0.82566586]

In [33]:
# Base de teste
unique_values, counts = np.unique(y_tess_teste, return_counts=True)
prop = counts/y_tess_teste.size
print(unique_values,counts,prop)

['not planet' 'planet'] [ 225 1014] [0.18159806 0.81840194]

Naive Bayes

In [34]:
from sklearn.naive_bayes import GaussianNB
modeloNB = GaussianNB()

modeloNB.fit(x_k2_treino,y_k2_treino)
y_k2_previsto = modeloNB.predict(x_k2_teste)

y_k2_teste[:10],y_k2_previsto[:10]

(1107    not planet
 3608        planet
 2156        planet
 917         planet
 1901        planet
 3409        planet
 2133        planet
 3447        planet
 294     not planet
 3361        planet
 Name: classification, dtype: object,
 array(['not planet', 'planet', 'not planet', 'planet', 'planet', 'planet',
        'planet', 'planet', 'planet', 'planet'], dtype='<U10'))

In [35]:
modeloNB.fit(x_kepler_treino,y_kepler_treino)
y_kepler_previsto = modeloNB.predict(x_kepler_teste)

y_kepler_teste[:10],y_kepler_previsto[:10]

(840     not planet
 698         planet
 954     not planet
 5221    not planet
 8853    not planet
 5694    not planet
 9441    not planet
 2799    not planet
 9335    not planet
 5867    not planet
 Name: classification, dtype: object,
 array(['planet', 'planet', 'not planet', 'not planet', 'not planet',
        'not planet', 'not planet', 'not planet', 'not planet', 'planet'],
       dtype='<U10'))

In [36]:
modeloNB.fit(x_tess_treino,y_tess_treino)
y_tess_previsto = modeloNB.predict(x_tess_teste)

y_tess_teste[:10],y_tess_previsto[:10]

(3467    not planet
 2827        planet
 2041        planet
 5747        planet
 1529        planet
 2140        planet
 1041        planet
 199         planet
 2005        planet
 5870        planet
 Name: classification, dtype: object,
 array(['planet', 'planet', 'planet', 'planet', 'planet', 'planet',
        'planet', 'planet', 'planet', 'planet'], dtype='<U10'))

 K-Vizinhos Mais Próximos (K-NN)

In [37]:
from sklearn.neighbors import KNeighborsClassifier
modeloKNN = KNeighborsClassifier()

modeloKNN.fit(x_k2_treino,y_k2_treino)
y_k2_previsto = modeloKNN.predict(x_k2_teste)

y_k2_teste[:10],y_k2_previsto[:10]

(1107    not planet
 3608        planet
 2156        planet
 917         planet
 1901        planet
 3409        planet
 2133        planet
 3447        planet
 294     not planet
 3361        planet
 Name: classification, dtype: object,
 array(['not planet', 'planet', 'planet', 'planet', 'planet', 'planet',
        'planet', 'planet', 'not planet', 'planet'], dtype=object))

In [38]:
modeloKNN.fit(x_kepler_treino,y_kepler_treino)
y_kepler_previsto = modeloKNN.predict(x_kepler_teste)

y_kepler_teste[:10],y_kepler_previsto[:10]

(840     not planet
 698         planet
 954     not planet
 5221    not planet
 8853    not planet
 5694    not planet
 9441    not planet
 2799    not planet
 9335    not planet
 5867    not planet
 Name: classification, dtype: object,
 array(['planet', 'planet', 'not planet', 'planet', 'not planet', 'planet',
        'not planet', 'not planet', 'not planet', 'not planet'],
       dtype=object))

In [39]:
modeloKNN.fit(x_tess_treino,y_tess_treino)
y_tess_previsto = modeloKNN.predict(x_tess_teste)

y_tess_teste[:10],y_tess_previsto[:10]

(3467    not planet
 2827        planet
 2041        planet
 5747        planet
 1529        planet
 2140        planet
 1041        planet
 199         planet
 2005        planet
 5870        planet
 Name: classification, dtype: object,
 array(['planet', 'planet', 'planet', 'planet', 'planet', 'planet',
        'planet', 'planet', 'not planet', 'planet'], dtype=object))

 Árvores de Decisão

In [40]:
from sklearn.tree import DecisionTreeClassifier
modeloDT = DecisionTreeClassifier()

modeloDT.fit(x_k2_treino,y_k2_treino)
y_k2_previsto = modeloDT.predict(x_k2_teste)

y_k2_teste[:10],y_k2_previsto[:10]

(1107    not planet
 3608        planet
 2156        planet
 917         planet
 1901        planet
 3409        planet
 2133        planet
 3447        planet
 294     not planet
 3361        planet
 Name: classification, dtype: object,
 array(['not planet', 'planet', 'planet', 'planet', 'planet', 'planet',
        'planet', 'planet', 'not planet', 'planet'], dtype=object))

In [41]:
modeloDT.fit(x_kepler_treino,y_kepler_treino)
y_kepler_previsto = modeloDT.predict(x_kepler_teste)

y_kepler_teste[:10],y_kepler_previsto[:10]

(840     not planet
 698         planet
 954     not planet
 5221    not planet
 8853    not planet
 5694    not planet
 9441    not planet
 2799    not planet
 9335    not planet
 5867    not planet
 Name: classification, dtype: object,
 array(['not planet', 'planet', 'not planet', 'not planet', 'not planet',
        'not planet', 'not planet', 'not planet', 'not planet',
        'not planet'], dtype=object))

In [42]:
modeloDT.fit(x_tess_treino,y_tess_treino)
y_tess_previsto = modeloDT.predict(x_tess_teste)

y_tess_teste[:10],y_tess_previsto[:10]

(3467    not planet
 2827        planet
 2041        planet
 5747        planet
 1529        planet
 2140        planet
 1041        planet
 199         planet
 2005        planet
 5870        planet
 Name: classification, dtype: object,
 array(['planet', 'planet', 'planet', 'planet', 'not planet', 'planet',
        'planet', 'planet', 'planet', 'planet'], dtype=object))

Regressão Logística

In [43]:
from sklearn.linear_model import LogisticRegression
modeloLR = LogisticRegression()

modeloLR.fit(x_k2_treino,y_k2_treino)
y_k2_previsto = modeloLR.predict(x_k2_teste)

y_k2_teste[:10],y_k2_previsto[:10]

(1107    not planet
 3608        planet
 2156        planet
 917         planet
 1901        planet
 3409        planet
 2133        planet
 3447        planet
 294     not planet
 3361        planet
 Name: classification, dtype: object,
 array(['planet', 'planet', 'planet', 'planet', 'planet', 'planet',
        'planet', 'planet', 'planet', 'planet'], dtype=object))

In [44]:
modeloLR.fit(x_kepler_treino,y_kepler_treino)
y_kepler_previsto = modeloLR.predict(x_kepler_teste)

y_kepler_teste[:10],y_kepler_previsto[:10]

(840     not planet
 698         planet
 954     not planet
 5221    not planet
 8853    not planet
 5694    not planet
 9441    not planet
 2799    not planet
 9335    not planet
 5867    not planet
 Name: classification, dtype: object,
 array(['planet', 'not planet', 'planet', 'not planet', 'not planet',
        'not planet', 'not planet', 'not planet', 'not planet',
        'not planet'], dtype=object))

In [45]:
modeloLR.fit(x_tess_treino,y_tess_treino)
y_tess_previsto = modeloLR.predict(x_tess_teste)

y_tess_teste[:10],y_tess_previsto[:10]

(3467    not planet
 2827        planet
 2041        planet
 5747        planet
 1529        planet
 2140        planet
 1041        planet
 199         planet
 2005        planet
 5870        planet
 Name: classification, dtype: object,
 array(['planet', 'planet', 'planet', 'planet', 'planet', 'planet',
        'planet', 'planet', 'planet', 'planet'], dtype=object))