In [1]:
import pandas as pd

Tratando colunas da Missão KEPLER

In [2]:
kepler = pd.read_csv('./data/kepler/kepler.csv')

kepler_columns = [
    'koi_disposition',
    'ra',
    'dec',
    'koi_steff',
    'koi_srad',
    'koi_prad',
    'koi_teq',
    'koi_slogg',
    'koi_period',
    'koi_duration',
    'koi_depth',
    'koi_insol'
]

kepler_data = kepler[kepler_columns].copy()

kepler_columns_name = {
    'koi_disposition': 'classification',
    'ra' : 'longitude',
    'dec' : 'latitude',
    'koi_steff' : 'stellar_temperature',
    'koi_srad' : 'stellar_radius',
    'koi_prad' : 'planet_radius',
    'koi_teq' : 'eq_temperature',
    'koi_slogg' : 'stellar_sur_gravity',
    'koi_period' : 'orbital_period',
    'koi_duration' : 'duration',
    'koi_depth' : 'depth',
    'koi_insol' : 'insol_flux'
}

kepler_data.rename(columns=kepler_columns_name, inplace=True)

kepler_data

,classification,longitude,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,stellar_sur_gravity,orbital_period,duration,depth,insol_flux
0,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.26,793.0,4.467,9.488036,2.95750,615.8,93.59
1,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.83,443.0,4.467,54.418383,4.50700,874.8,9.11
2,CANDIDATE,297.00482,48.134129,5853.0,0.868,14.60,638.0,4.544,19.899140,1.78220,10829.0,39.30
3,FALSE POSITIVE,285.53461,48.285210,5805.0,0.791,33.46,1395.0,4.564,1.736952,2.40641,8079.2,891.96
4,CONFIRMED,288.75488,48.226200,6031.0,1.046,2.75,1406.0,4.438,2.525592,1.65450,603.3,926.16
...,...,...,...,...,...,...,...,...,...,...,...,...
9559,FALSE POSITIVE,297.18875,47.093819,5638.0,0.903,29.35,2088.0,4.529,0.527699,3.22210,1579.2,4500.53
9560,CANDIDATE,286.50937,47.163219,6119.0,1.031,0.72,1608.0,4.444,1.739849,3.11400,48.5,1585.81
9561,FALSE POSITIVE,294.16489,47.176281,6173.0,1.041,1.07,2218.0,4.447,0.681402,0.86500,103.6,5713.41
9562,CANDIDATE,296.76288,47.145142,4989.0,7.824,19.30,557.0,2.992,333.486169,3.19900,639.1,22.68
9563,FALSE POSITIVE,297.00977,47.121021,6469.0,1.193,1.05,1266.0,4.385,4.856035,3.07800,76.7,607.42

Tratando colunas da Missão K2

In [3]:
k2 = pd.read_csv('./data/k2/k2.csv')

k2_columns = [
    'disposition',
    'rastr',
    'ra',
    'decstr',
    'dec',
    'st_teff',
    'st_rad',
    'pl_rade',
    'pl_eqt',
    'sy_dist',
    'st_logg',
    'pl_orbper',
    'pl_insol'
]

k2_data = k2[k2_columns].copy()

k2_columns_name = {
    'disposition': 'classification',
    'rastr' : 'longitude_s',
    'ra' : 'longitude',
    'decstr' : 'latitude_s',
    'dec' : 'latitude',
    'st_teff' : 'stellar_temperature',
    'st_rad' : 'stellar_radius',
    'pl_rade' : 'planet_radius',
    'pl_eqt' : 'eq_temperature',
    'sy_dist' : 'distance',
    'st_logg' : 'stellar_sur_gravity',
    'pl_orbper' : 'orbital_period',
    'pl_insol' : 'insol_flux'
}

k2_data.rename(columns=k2_columns_name, inplace=True)

k2_data

,classification,longitude_s,longitude,latitude_s,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,distance,stellar_sur_gravity,orbital_period,insol_flux
0,CONFIRMED,03h34m36.27s,53.651123,+20d35m56.47s,20.599021,5766.00,1.08,2.578,NaN,179.4610,4.50,41.685500,NaN
1,CONFIRMED,03h34m36.27s,53.651123,+20d35m56.47s,20.599021,5766.00,0.93,2.230,546.0,179.4610,4.50,41.685500,NaN
2,CONFIRMED,03h34m36.27s,53.651123,+20d35m56.47s,20.599021,5703.00,0.96,2.355,NaN,179.4610,4.38,41.688644,NaN
3,CANDIDATE,12h15m23.10s,183.846245,-06d16m05.98s,-6.268329,4616.52,0.76,1.120,1054.0,97.1795,4.54,2.301830,NaN
4,CANDIDATE,12h15m23.10s,183.846245,-06d16m05.98s,-6.268329,4720.00,0.71,1.313,NaN,97.1795,4.50,2.302368,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768,CONFIRMED,11h43m37.93s,175.908033,+06d33m49.62s,6.563784,6112.00,0.94,13.899,1452.0,141.8870,NaN,2.655678,NaN
3769,CONFIRMED,11h43m37.93s,175.908033,+06d33m49.62s,6.563784,5426.00,0.88,11.100,NaN,141.8870,4.50,2.655682,NaN
3770,CONFIRMED,13h47m23.09s,206.846198,-06d08m21.61s,-6.139337,4716.00,0.69,2.030,805.0,44.5260,4.62,6.001180,69.6
3771,CONFIRMED,13h47m23.09s,206.846198,-06d08m21.61s,-6.139337,4716.00,0.69,2.043,790.0,44.5260,4.62,6.001270,NaN
3772,CONFIRMED,13h47m23.09s,206.846198,-06d08m21.61s,-6.139337,4716.00,0.69,2.043,789.0,44.5260,NaN,6.001270,64.7

Tratando colunas da Missão TESS

In [4]:
tess = pd.read_csv('./data/tess/tess.csv')

tess_columns = [
    'tfopwg_disp',
    'rastr',
    'ra',
    'decstr',
    'dec',
    'st_teff',
    'st_rad',
    'pl_rade',
    'pl_eqt',
    'st_dist',
    'st_logg',
    'pl_orbper',
    'pl_trandurh',
    'pl_trandep',
    'pl_insol'
]

tess_data = tess[tess_columns].copy()

tess_columns_name = {
    'tfopwg_disp': 'classification',
    'rastr' : 'longitude_s',
    'ra' : 'longitude',
    'decstr' : 'latitude_s',
    'dec' : 'latitude',
    'st_teff' : 'stellar_temperature',
    'st_rad' : 'stellar_radius',
    'pl_rade' : 'planet_radius',
    'pl_eqt' : 'eq_temperature',
    'st_dist' : 'distance',
    'st_logg' : 'stellar_sur_gravity',
    'pl_orbper' : 'orbital_period',
    'pl_trandurh' : 'duration',
    'pl_trandep' : 'depth',
    'pl_insol' : 'insol_flux'
}

tess_data.rename(columns=tess_columns_name, inplace=True)


tess_data

,classification,longitude_s,longitude,latitude_s,latitude,stellar_temperature,stellar_temperature_upper,stellar_temperature_lower,stellar_temperature_lim_flag,stellar_radius,...,duration_lower,duration_lim_flag,depth,depth_upper,depth_lower,depth_lim_flag,insol_flux,insol_flux_upper,insol_flux_lower,insol_flux_lim_flag
0,FP,07h29m25.85s,112.357708,-12d41m45.46s,-12.695960,10249.0,264.7,-264.7,0,2.169860,...,-0.319588,0,656.886099,37.778210,-37.778210,0,22601.948581,NaN,NaN,NaN
1,PC,08h10m19.31s,122.580465,-05d30m49.87s,-5.513852,7070.0,126.4,-126.4,0,2.010000,...,-0.647000,0,1286.000000,1186.490000,-1186.490000,0,44464.500000,NaN,NaN,NaN
2,FP,06h58m54.47s,104.726966,-10d34m49.64s,-10.580455,8924.0,124.0,-124.0,0,5.730000,...,-0.184000,0,1500.000000,1.758400,-1.758400,0,2860.610000,NaN,NaN,NaN
3,FP,07h22m14.39s,110.559945,-25d12m25.26s,-25.207017,5388.5,567.0,-567.0,0,NaN,...,-0.642000,0,383.410000,0.781988,-0.781988,0,1177.360000,NaN,NaN,NaN
4,FP,08h08m42.77s,122.178195,-48d48m10.12s,-48.802811,9219.0,171.1,-171.1,0,2.150000,...,-1.029000,0,755.000000,1306.550000,-1306.550000,0,54679.300000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7022,FP,07h23m14.75s,110.811443,+05d33m46.26s,5.562850,4805.2,46.5,-46.5,0,NaN,...,-0.247000,0,7260.750000,727.389000,-727.389000,0,1413.670000,NaN,NaN,NaN
7023,FP,07h57m23.99s,119.349948,-19d30m57.65s,-19.516015,8007.0,NaN,NaN,0,2.050000,...,-0.499000,0,4040.000000,10.734400,-10.734400,0,NaN,NaN,NaN,NaN
7024,FP,08h05m16.69s,121.319521,-59d34m47.27s,-59.579798,5786.0,132.9,-132.9,0,0.926261,...,-0.031893,0,17479.605331,107.768585,-107.768585,0,127.916421,NaN,NaN,NaN
7025,FP,07h53m16.69s,118.319555,-14d13m07.76s,-14.218823,8322.0,130.7,-130.7,0,2.349860,...,-0.386772,0,339.912662,33.689648,-33.689648,0,41562.587811,NaN,NaN,NaN
7026,FP,07h55m27.38s,118.864086,-58d13m19.42s,-58.222060,6635.0,130.1,-130.1,0,1.300000,...,-0.255000,0,1839.000000,30.973100,-30.973100,0,9662.800000,NaN,NaN,NaN

1 - Converter as coordenadas de Kepler (Retângulares Ascensão Retilínea - RA e Declinação - Dec (latitude e longitude)) de graus para unidades sexagesimais

In [5]:
def decimal_to_sexagesimal(decimal_degrees):
    degrees = int(decimal_degrees)
    minutes = int((decimal_degrees - degrees) * 60)
    seconds = (decimal_degrees - degrees - minutes / 60) * 3600
    return f"{degrees}h{minutes}m{seconds:.2f}s"

kepler_data['longitude_s'] = kepler_data['longitude'].apply(decimal_to_sexagesimal)
kepler_data['latitude_s'] = kepler_data['latitude'].apply(decimal_to_sexagesimal)

kepler_data

,classification,longitude,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,stellar_sur_gravity,orbital_period,duration,depth,insol_flux,longitude_s,latitude_s
0,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.26,793.0,4.467,9.488036,2.95750,615.8,93.59,291h56m3.23s,48h8m29.94s
1,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.83,443.0,4.467,54.418383,4.50700,874.8,9.11,291h56m3.23s,48h8m29.94s
2,CANDIDATE,297.00482,48.134129,5853.0,0.868,14.60,638.0,4.544,19.899140,1.78220,10829.0,39.30,297h0m17.35s,48h8m2.86s
3,FALSE POSITIVE,285.53461,48.285210,5805.0,0.791,33.46,1395.0,4.564,1.736952,2.40641,8079.2,891.96,285h32m4.60s,48h17m6.76s
4,CONFIRMED,288.75488,48.226200,6031.0,1.046,2.75,1406.0,4.438,2.525592,1.65450,603.3,926.16,288h45m17.57s,48h13m34.32s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,FALSE POSITIVE,297.18875,47.093819,5638.0,0.903,29.35,2088.0,4.529,0.527699,3.22210,1579.2,4500.53,297h11m19.50s,47h5m37.75s
9560,CANDIDATE,286.50937,47.163219,6119.0,1.031,0.72,1608.0,4.444,1.739849,3.11400,48.5,1585.81,286h30m33.73s,47h9m47.59s
9561,FALSE POSITIVE,294.16489,47.176281,6173.0,1.041,1.07,2218.0,4.447,0.681402,0.86500,103.6,5713.41,294h9m53.60s,47h10m34.61s
9562,CANDIDATE,296.76288,47.145142,4989.0,7.824,19.30,557.0,2.992,333.486169,3.19900,639.1,22.68,296h45m46.37s,47h8m42.51s
9563,FALSE POSITIVE,297.00977,47.121021,6469.0,1.193,1.05,1266.0,4.385,4.856035,3.07800,76.7,607.42,297h0m35.17s,47h7m15.68s

2 - Definindo a distance da missão Kepler em pc

In [6]:
import numpy as np

# Constante de Stefan-Boltzmann (W/m^2K^4)
sigma = 5.67e-8  

# Função para calcular a luminosidade da estrela em termos de luminosidade solar
def calculate_luminosity(stellar_radius, stellar_temperature):
    return 4 * np.pi * (stellar_radius ** 2) * sigma * (stellar_temperature ** 4)

# Function to calculate stellar distance in parsecs
def calculate_stellar_distance(luminosity, insolation_flux):
    return np.sqrt(luminosity / (4 * np.pi * insolation_flux))

# Calcular a luminosidade da estrela
kepler_data['luminosidade'] = calculate_luminosity(kepler_data['stellar_radius'], kepler_data['stellar_temperature'])

# Calcular a distância estelar em parsecs
kepler_data['distance'] = calculate_stellar_distance(kepler_data['luminosidade'], kepler_data['insol_flux'])

kepler_data

,classification,longitude,latitude,stellar_temperature,stellar_radius,planet_radius,eq_temperature,stellar_sur_gravity,orbital_period,duration,depth,insol_flux,longitude_s,latitude_s,luminosidade,distance
0,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.26,793.0,4.467,9.488036,2.95750,615.8,93.59,291h56m3.23s,48h8m29.94s,5.421649e+08,678.962909
1,CONFIRMED,291.93423,48.141651,5455.0,0.927,2.83,443.0,4.467,54.418383,4.50700,874.8,9.11,291h56m3.23s,48h8m29.94s,5.421649e+08,2176.213925
2,CANDIDATE,297.00482,48.134129,5853.0,0.868,14.60,638.0,4.544,19.899140,1.78220,10829.0,39.30,297h0m17.35s,48h8m2.86s,6.300086e+08,1129.463050
3,FALSE POSITIVE,285.53461,48.285210,5805.0,0.791,33.46,1395.0,4.564,1.736952,2.40641,8079.2,891.96,285h32m4.60s,48h17m6.76s,5.062381e+08,212.519983
4,CONFIRMED,288.75488,48.226200,6031.0,1.046,2.75,1406.0,4.438,2.525592,1.65450,603.3,926.16,288h45m17.57s,48h13m34.32s,1.031368e+09,297.686309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,FALSE POSITIVE,297.18875,47.093819,5638.0,0.903,29.35,2088.0,4.529,0.527699,3.22210,1579.2,4500.53,297h11m19.50s,47h5m37.75s,5.870414e+08,101.882031
9560,CANDIDATE,286.50937,47.163219,6119.0,1.031,0.72,1608.0,4.444,1.739849,3.11400,48.5,1585.81,286h30m33.73s,47h9m47.59s,1.061774e+09,230.826425
9561,FALSE POSITIVE,294.16489,47.176281,6173.0,1.041,1.07,2218.0,4.447,0.681402,0.86500,103.6,5713.41,294h9m53.60s,47h10m34.61s,1.121191e+09,124.964633
9562,CANDIDATE,296.76288,47.145142,4989.0,7.824,19.30,557.0,2.992,333.486169,3.19900,639.1,22.68,296h45m46.37s,47h8m42.51s,2.702120e+10,9737.015335
9563,FALSE POSITIVE,297.00977,47.121021,6469.0,1.193,1.05,1266.0,4.385,4.856035,3.07800,76.7,607.42,297h0m35.17s,47h7m15.68s,1.775916e+09,482.349388

In [7]:
tess_data[['distance', 'stellar_radius', 'stellar_temperature', 'insol_flux']].head(10)

   distance  stellar_radius  stellar_temperature    insol_flux
0   485.735         2.16986              10249.0  22601.948581
1   295.862         2.01000               7070.0  44464.500000
2   943.109         5.73000               8924.0   2860.610000
3  7728.170             NaN               5388.5   1177.360000
4   356.437         2.15000               9219.0  54679.300000
5   100.711         1.09000               5613.0    254.050000
6       NaN         1.53429               6616.0   1750.932635
7   283.291         2.70000               6596.0    448.744000
8   144.297         1.57000               6858.5   5644.400000
9   866.147             NaN               8868.7   1063.342296

In [8]:
# kepler_data.to_pickle('data\\kepler_data_treated.pkl')
# k2_data.to_pickle('data\\k2_data_treated.pkl')
# tess_data.to_pickle('data\\tess_data_treated.pkl')

3 - Definindo Depth da missão K2

In [ ]:

import numpy as np

def transit_depth(planet_radius, star_radius):
    """
    Calculates the transit depth of an exoplanet.

    Args:
    planet_radius (float): Radius of the planet in Earth radii.
    star_radius (float): Radius of the star in Solar radii.

    Returns:
    float: Transit depth.
    """
    depth = (planet_radius / star_radius) ** 2 * 1e6
    return depth

# Exemplo de uso:
#resultado = transit_depth(14.60, 0.868)
k2_data['depth'] = transit_depth(k2_data['planet_radius'], k2_data['stellar_radius'])